.container-register-user{
    display:block;
    width: 352px;
    border: 1px solid #313B44;
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
}
.input-fields-register{
    width: 316px;
    height: 40px;
    margin: 0 auto;
}
.align-left{
    text-align: left;
}
.register-buttons{

}
.button-resize{
    width: 40%;
    margin-left:48px;
}

.button:disabled,
.button[disabled]{
  /* border: 1px solid #999999; */
  background-color: #cccccc;
  color: #666666;
  cursor: unset;
}