.container-nav{
    width: 900px;
    height: 48px;
    margin: 0 auto;
    display: flex;
}
.container-nav-responsive{
    height: 48px;
    margin: 0 auto;
    display: flex;
}

.container-logo{
    /* position: relative; */
    margin-bottom: 4px;
    width: 126.09px;
    height: 40px;
    margin-top: 4px;
    margin-left: 0px;
    /* left: 0px; */
}
 .container-header{
    font-family: Roboto;
    font-style: normal;
    font-size: 15px;
    font-weight: bolder;

    display: flex;
    text-align: center;
    letter-spacing: 0.15px;
    color: #C4C4C4;
}

.container-header-prontuario{
    /* position: relative; */
    margin-left: 54px;
    margin-top: 15px;
}

.container-profile{
    margin-bottom: 4px;
    margin-top: 8px;
    margin-left: 8px;
}
.header-buttons{
    font-family: Roboto;
    font-style: normal;
    font-size: 15px;
    font-weight: bolder;
    letter-spacing: 0.15px;
    color: #C4C4C4;
    text-decoration: none;
}
.header-identification-res{
    font-family: Roboto;
    font-size: 15px;
    font-weight: 100;
    color: white;
    margin-left: 500px;
}
a:link, a:visited {
    text-decoration: none;
    /* color: #EE4937; */
}
a:hover {
	color: #EE4937;
}
a:active {
    text-decoration: none;
    color: #EE4937;
}
.img-hover{
    cursor: pointer;
}


/* RESPONSIVIDADE */

#menu-button{
    transition: transform .2s;
    margin-left: 170px;
    display: flex;
    align-items: center;
}
.menu-icon{
    fill: white;
}
.menu-button-active{
    transform: rotateZ(90deg);
}