.container-diagnosis-admin{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 60px;
    /* justify-content: space-evenly; */
}

.card-adm-container{
    margin-right: 16px;
    margin-bottom: 16px;
}

.container-pagination-responsive-adm{
    margin-left: 10px;
}
@media screen and (max-width: 540px) {
    .container-diagnosis-admin{
        margin-left: 10%;
    }
}