.container-landing{
    width: 900px;
    margin: 0 auto;
    margin-top: 96px;
}
.container-landing-reponsive{
    margin: 0 auto;
    margin-top: 96px;
}
.info1{
    display: flex;
}
.info1-left{
    width: 418px;
}

.text-red{
    font-size: 28px;
    color: #EE4937;
    margin: 0px;
}

.text-gray{
    font-size: 36px;
    font-weight: 900;
    color: #313B44;
    margin: 0px;
}

.text-info1{
    color: #313B44;
    font-weight: 500px;
    font-size: 18px;
}

.login-button{
    width: 150px;
    height: 40px;
    background-color: #EE4937;
    border-radius: 4px;
    border: none;
    font-family: Roboto;
    font-style: normal;
    /* font-weight: 500; */
    font-size: 14px;
    line-height: 19px;

    letter-spacing: 0.4px;
    outline: none;
    cursor: pointer;

    color: #FFFFFF;
}

.info1-image{
    margin-left: 32px;
    margin-top: -26px;
}

.info2{
    display: flex;
    margin-top: 96px;
}

.info2-right{
    margin-left: 96px;
    width: 400px;
}

.text-boldless{
    font-size: 28px;
    margin-top: 8px;
}

.info3{
    margin-top: 96px;
    height: 370px;
}

.info3-title{
    color: #EE4937;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    margin: 0;
}
.info3-title-gray{
    color: #313B44;
    font-weight: bolder;
    font-size: 26px;
    text-align: center;
    margin-top: 8px;
}
.info3-cards{
    display: flex;
    margin-left: 36px;
}

.info4{
    margin-top: 136px;
}

.info4-text-top{
    width: 600px;
    color: #313B44;
    font-weight: bolder;
    font-size: 26px;
    text-align: center;
    margin-left: 145px;
    margin-top: 8px;
}
.info4-text-red{
    font-size: 20px;
    color: #EE4937;
    margin: 0px;
}

.info4-text-gray{
    font-size: 28px;
    font-weight: 900;
    color: #313B44;
    margin: 0px;
}
.info4-text{
    color: #313B44;
    font-weight: 500px;
    font-size: 18px;
}

.info41{
    display: flex;
    margin-top: 76px;
}
.info41-right{
    margin-left: 100px;
    margin-top: 36px;
    width: 350px;
}

.info42{
    display: flex;
    margin-top: 76px;
}
.info42-left{
    width: 350px;
}
.info42-right{
    margin-left: 100px;
}

.info43{
    display: flex;
    margin-top: 76px;
    margin-left: 16px;
}

.info43-right{
    width: 370px;
    margin-left: 150px;
}


.info44{
    display: flex;
    margin-top: 76px;
    margin-bottom: 192px;
}

.info44-left{
    width: 370px;
}

.info44-right{
    margin-left: 80px;
}



@media screen and (max-width: 540px) {

    .container-landing{
        margin: 0 auto;
        margin-top: 96px;
    }

    /* RESPONSIVENESS 1 */
    .info1{
        display: flex;
        flex-direction: column;
    }

    .info1-left{
        width: 90%;
    }

    .info1-image{
        margin-left: 0px;
        margin-top: 26px;
        width: 90%;
    }

    /* RESPONSIVENESS 2 */
    .info2{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 16px;
    }
    
    .info2-right{
        width: 95%;
        margin-left: 5px;
        margin-top: 16px;
        margin-bottom: 26px;
    }
    .info2-image{
        width: 90%;
    }

    /* RESPONSIVENESS 3 */
    .info3{
        margin-top: 36px;
        height: 1000px;
    }
    
    .info3-title{
        color: #EE4937;
        font-weight: 600;
        font-size: 22px;
        text-align: left;/**********************************/
        /* margin: 0; */
    }
    .info3-title-gray{
        color: #313B44;
        font-weight: bolder;
        font-size: 26px;
        text-align: left;/*****************************************/
        margin-top: 8px;
    }
    .info3-cards{
        display: block;
        justify-content: center;
    }
    
    /* RESPONSIVENESS 4 */

    .info4-text-top{
        max-width: 350px;
        color: #313B44;
        font-weight: bolder;
        font-size: 26px;
        text-align: left;
        margin-left: 2px;
        margin-top: 8px;
    }

    .info41{
        display: flex;
        flex-direction: column;
        margin-top: 76px;
    }
    .info41-right{
        margin-left: 5px;
        margin-top: 36px;
        width: 300px;
    }
    .info41-image{
        width: 90%;
    }



    .info42{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 76px;
    }
    .info42-right{
        margin-left: 5px;
        margin-bottom: 26px;
    }

    .info42-left{
        max-width: 320px;
    }
    .info42-image{
        width: 90%;
    }



    .info43{
        display: flex;
        flex-direction: column;
        margin-top: 76px;
        margin-left: 2px;
    }
    .info43-right{
        max-width: 320px;
        margin-left: 0px;
    }



    .info44{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 76px;
        margin-bottom: 192px;
    }
    .info44-left{
        max-width: 320px;
    }
    
    .info44-right{
        margin-left: 5px;
        margin-bottom: 24px;
    }
    .info44-image{
        width: 90%;
    }
}
