image: node:10

stages:
    - testBuild
    - testDeploy
    - testRun
    - testProduction

.only_default: &only_default
    only:
        - staging
        - tags

testBuild:
    only:
        - master
        - staging
    stage: testBuild
    script: 
        - yarn install
        - yarn build
    artifacts:
      paths:
        - build/
        - node_modules/ 
      expire_in: 1 hr

testDeploy:
    <<: *only_default
    stage: testDeploy
    before_script:
      - npm i -g firebase-tools 
    script:
      - dir
      - firebase deploy --project=staging --token=$FIREBASE_TOKEN 
    dependencies:
      - testBuild

testRun:
    <<: *only_default
    stage: testRun
    artifacts:
        name: "$CI_PROJECT_NAME-$CI_COMMIT_REF_NAME-TEST"
        paths:
            - __tests__/reports.json
        expire_in: 7 days
    services:
        - selenium/standalone-chrome
    script:
        - yarn test:reports
    dependencies:
        - testBuild

testProduction:
    only:
      - master
    stage: testProduction
    before_script:
      - npm i -g firebase-tools 
    script:
      - dir
      - firebase deploy --token=$FIREBASE_TOKEN 
    dependencies:
      - testBuild