image: node:10

stages:
    - testBuild
    - testRun
    - testDeploy

.only_default: &only_default
    only:
        - staging
        - tags

testBuild:
    <<: *only_default
    stage: testBuild
    script: 
        - yarn install
        - yarn build
    artifacts:
      paths:
        - build/
        - node_modules/ 
      expire_in: 1 hr

testRun:
    <<: *only_default
    stage: testRun
    artifacts:
        name: "$CI_PROJECT_NAME-$CI_COMMIT_REF_NAME-TEST"
        paths:
            - __tests__/reports.json
        expire_in: 7 days
    services:
        - selenium/standalone-chrome
    # before_script:
        # - curl https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb -o /chrome.deb
        # - dpkg -i /chrome.deb || apt-get install -yf
        # - rm /chrome.deb
    script:
        - yarn test __tests__/features/Logout.feature
    dependencies:
        - testBuild

testDeploy:
    <<: *only_default
    stage: testDeploy
    before_script:
      - npm i -g firebase-tools 
    script:
      - dir
      - firebase deploy --token=$FIREBASE_TOKEN 
    dependencies:
      - testBuild
