.container-register{
    text-align: center;
    margin-top: 112px;
}

.container-title{

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    margin-bottom: 32px;
    letter-spacing: 0.4px;
    
    color: #EE4937; 
}

.container-form{
    width: 356px;
    height: 670px;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
}

.form-state{
    font-family: Open Sans;
    border: 1px solid #5B656F;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 32px;
    width: 100%;
    height: 40px;
    text-align: initial;
}

.container-divider{
    display: flex;
    flex-direction: row;
    /* margin-top: 32px;    */
    height: 40px;
}

.form-divider-content{
    width: 170px;
    height: 40px;
    text-align: initial;
    margin: 0 auto;
}
.form-divider-content2{
    width: 170px;
    height: 34px;
    margin-right: 0px;
    font-family: Open Sans;
}
.input-age{
    margin-left: 16px;
}
.clinical-info{
    width: 100%;
    height: 194px;
    font-family: Open Sans;
    resize: none;
}

.button{

    width: 100%;
    height: 40px;
    background-color: #EE4937;
    border-radius: 4px;
    border: none;
    margin-top: 32px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;

    letter-spacing: 0.4px;
    outline: none;

    color: #FFFFFF; 
}

.button-back{
    border-radius: 4px;
    background-color: #fff;
    border: none;
    margin-top: 32px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;

    letter-spacing: 0.4px;
    outline: none;
    cursor: pointer;
    color: #EE4937; 
}
.button:hover{
    cursor: pointer;
    background-color: #FF7D62;
}