.button-backup{
    width: 200px;
    margin-top: 0px;
    margin-left: 32px;
}

.modal-backup-text{
    font-size: 16px;
}

.backup-select{
    width: 120px;
    margin-left: 32px;
}
.mrg-back{
    margin-left: 16px;
}
.backup-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 60px;
    /* justify-content: center; */
}

.box-buttons{
    height: 371px;
    /* display: flex; */
}
.content-box{
    width: 790px;
    height: 100px;
    border: 1px solid #5B656F;
    box-sizing: border-box;
    border-radius: 4px;
    overflow: scroll;
    margin-top: 7px;

    display: grid;
    grid-template-areas: 'diag diag2 doc res';

    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    line-height: 14px;        
    color: #313B44;
}
.box-buttons-cont{
    display: flex;
    flex-direction: row;
}

.button-backup-box{
    width: 180px;
    margin-top: 64px;
    /* margin-left: 32px; */
}
.restore-button:hover{
    background-color: #FF7D62;
}

.restore-button{
    width: 180px;
    height: 40px;
    background-color: #EE4937;
    border-radius: 4px;
    border: none;
    
    margin-top: 64px;
    margin-left: 32px;

    font-family: Roboto;
    font-style: normal;
    /* font-weight: 500; */
    font-size: 14px;
    line-height: 19px;

    letter-spacing: 0.4px;
    outline: none;

    color: #FFFFFF; 

    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
}
.algn-cntr{
    margin-top: 10px;
}

.box-text{
    font-size: 16px;
    color: #525557;
    font-weight: 500;
}

.system-data{
    margin-bottom: -20px;

    font-weight: 600;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.4px;
    
    color: #EE4937; 
}

@media screen and (max-width: 540px) {
    .content-box{
        width: 300px;
        height: 390px;
        padding: 16px;
        
        display: flex;
        /* grid-template-areas: 'diag diag2 doc res'; */
        flex-direction: column;
        
    }
}