.container-login{
    width: 352px;
    border: 1px solid #313B44;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 80px;
    background-color: #ffffff;

}
.login-image{
    width: 316px;
    height: 104px;
    margin-top: 32px;
    margin-left: 18px;
}
.text-choose{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color:#313B44;
}
.icons-choose{
    display: flex;
    justify-content: center;
}

.icon-text{
    margin: 16px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #313B44;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.marg{
    margin-left: 50px;
}

.res-img{
    display: flex;
    margin:0 auto;
    margin-bottom: 18px;
}
.res-img:hover{
    /* background-image: url(../../../assets/Icons/t.svg); */
}
path:hover{
    /* fill: #EE4937; */
    margin-right: 30px;
}
.icon-text:hover{
    /* color: #EE4937; */
}
svg:hover{
    /* width: 54px; */
    /* height: 54px; */
}


.choose-profile{
    display: flex;
    flex-direction: column;
    background-color: #313B44;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    
    margin-top: -5px;

    width: 100%;

    height: 70px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.4px;
        
    color: #FFFFFF;
}
.text-link{
    color: #EE4937;
}
.text-link:hover{
    color: #FF7D62;
}
.text-login{
    margin-top: 0px;
}

.login-button-back{
    display: flex;
    margin-top: -30px;
    justify-content: center;
}