.card-view{
    border: 1.4359px solid #5B656F;
    box-sizing: border-box;
    border-radius: 5.74359px;
    width: 607px;
    height: auto;

    display: flex;


    /* margin-top: 100px;
    margin-left: 100px; */
}

.card-view-responsive{
    border: 1.4359px solid #5B656F;
    box-sizing: border-box;
    border-radius: 5.74359px;
    height: auto;
    
    /* width: 607px;
    display: flex; */
}

.card-left{
    margin-left: 40px;
}

.card-id{
    font-size: 20px;
}
.card-date{
    font-size: 14px;
}

.card-img{
    width: 201px;
    height: 201px;
    margin-left: 12px;
    margin-bottom: 32px;
}

.card-right{
    margin-left: 40px;
}

.card-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: bolder;
    font-size: 14px;
    line-height: 19px;

    letter-spacing: 0.4px;

    width: 300px;
    margin: 0;
    word-wrap: break-word;
}

.card-diagnosis{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 18px;
    
    align-items: center;
    letter-spacing: 0.228765px;
    text-transform: uppercase;
    
    margin: 0;
    color: #A1A1A1;
}
.card-information{
    margin-bottom: 32px;
}
.gray-diag{
    color: #A1A1A1;
}
.red-diag{
    color:#EE4937;
    font-family: Roboto;
}
.green-diag{
    color: #50B600;
    font-style: bold; 
    font-family: Roboto;
}
.diag-bold{
    font-family: Roboto;
    font-weight: 900;
}

.card-model-title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}