.landing-footer{
    position: absolute;
    width: 100%;
    height: 192px;
    left: 0;
    right: 0;
    background-color: #313B44;
    /* margin: 0; */
    margin-bottom: 0;
}

.footer-content{
    display: flex;
    flex-direction: row;
 
    justify-content: center;
}
.footer-text{
    display: block;
    margin-left: 48px;
}

.footer-text-title{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;    
    color: #FF7D62;
}
.icon-and-text{
    display: flex;
    margin: 4px;
    width: 250px;
}
.footer-text-icon{
    font-weight: normal;
    font-size: 14px;
    color: white;
    margin:0;
}
.frc-mrg{
    margin-bottom:12px;
}

.footer-images{
    margin-left: 48px;
}
.footer-container-links{
    margin-top: 25px;
}

.resposive-footer-images{
    align-self: center;
}
@media screen and (max-width: 540px) {

    .landing-footer{
        height: auto;

    }
    .footer-content{
        flex-direction: column;
        justify-content: center;
    }
    .footer-text{
        margin-left: 0px;
        align-self: center;
    }
    
}